*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav{
    align-items: center;
    display: flex;
    background-color: aquamarine;
}
.fotolar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}

.logo-insta{
    width: 100px;
}

.logo-insta img{
    width: 100px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: rgb(139, 21, 139); 
}

.facebook{
    width: 100px;
}

.facebook img{
    width: 100px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50px;
    background-color:rgb(0, 111, 238);
}

.snapchat{
    width: 100px;
}

.snapchat img{
    width: 100px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50px;
    background-color:rgb(243, 251, 9);
}

.whatsapp{
    width: 100px;
}
.whatsapp img{
    width: 100px;
    border: 1px solid black;
    border-radius: 50px;
    background-color:rgb(77, 194, 71);
}

.list-items{
    list-style: none;
    display: flex;
}

.list-item{
    padding: 10px;
    list-style: none;
}

.list-item a{
    text-decoration: none;
}

.list-item a{
    text-decoration: none;
}

.list-item:hover a{
    color:pink;
}

.list-item:hover{
    background-color: cadetblue;
    transition: 1s;
    border-radius: 50px;
}

.baslik{
    position: absolute;
    left: 37%;
    display: inline;
}





